<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <style>
        .hidden {
            display: none !important;
        }
        .duplicateError{
            color: red;
            font-style: normal;
            font-weight: bold;
        }
        .successMsg{
            color: green;
            font-style: normal;
            font-weight: bold;
        }
        label.r::after{
            content: " *";
            color: red;
            vertical-align: sub;
        }
        div.col-md-20 {
            max-width: 20%;
            padding-left: 0;
        }
        div.col-md-80 {
            max-width: 80%;
            min-width: 80%;
            padding-right: 0px;
        }
        div.row{
            margin-bottom: 15px;
        }

        div.container {
            max-width: 80%;
        }
        @media (min-width: 1200px){
            div.container {
                max-width: 720px;
            }
        }

        @media (min-width: 992px){
            div.container {
                max-width: 720px;
            }
        }
    </style>
    <title>Lalamove User Response Form!</title>
</head>

<body>
<div class="hidden duplicateError text-center py-4"> Phone number already exists!!!</div>
<div class="hidden successMsg text-center py-4"> Record Saved Successfully.</div>
<div class="container">
    <h4 class="py-3 text-center">Lalamove User Response Form</h4>
    <form class="needs-validation" novalidate="">
        <div class="row">
            <div class="col-md-6 mb-3 col-md-20">
                <label class="r" for="city">City</label>
            </div>
            <div class="col-md-6 mb-3 col-md-80">
                <select class="custom-select form-control d-block w-100" id="city" name="city" required="">
                    <option value="">Choose... </option>
                    <option>Bangalore</option>
                    <option>Delhi</option>
                    <option>Mumbai</option>
                    <option>Hyderabad</option>
                    <option>Chennai</option>
                    <option>Pune</option>
                </select>
                <div class="invalid-feedback">
                    Valid city is required.
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="r" for="phone2">Your Pin</label>
            <input type="number" class="form-control" autocomplete="off" id="phone2" name="phone2" min="00001" max="99999" required="">
            <div class="invalid-feedback">
                Please enter valid pin.
            </div>
        </div>

        <div class="mb-3 row">
            <label class="r" for="phone1">Phone number of the User (10 digit no. Eg: 9876540321)</label>
            <input type="number" class="form-control" autocomplete="off" id="phone1" name="phone1" min=6000000000 max=9999999999 required="">
            <div class="invalid-feedback">
                Please enter a valid phone number.
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3 col-md-20">
                <label class="r" for="userType">User Type</label>
            </div>
            <div class="col-md-6 mb-3 col-md-80">
                <select class="custom-select form-control d-block w-100" name="userType" id="userType" required="">
                    <option value="">Choose... </option>
                    <option>Electrical/Electronics/Home Appliances</option>
                    <option>Machines/Equipment/Spare Parts/Metals</option>
                    <option>Furniture/Home Furnishing</option>
                    <option>Paper/Packaging/Printed Material</option>
                    <option>Ceramics/Sanitary/Hardware</option>
                    <option>Plastic/Rubber</option>
                    <option>FMCG/Food Products</option>
                    <option>Pharmacy/Medical/Healthcare/Fitness Equipment</option>
                    <option>Chemicals/Paints</option>
                    <option>Textile/Garments/Fashion Accessories</option>
                    <option>Building/Construction</option>
                    <option>Books/Stationery/Toys/Gifts</option>
                    <option>Houseware Supplies</option>
                    <option>Catering/Restaurants/Event Management</option>
                    <option>Timber/Plywood/Laminate</option>
                    <option>Logistics Service Provider/Packers & Movers</option>
                    <option>House Shifting</option>
                </select>
                <div class="invalid-feedback">
                    Valid User Type is required.
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="r" for="area">Area</label>
            <input class="form-control" id="area" name="area" autocomplete="off" required="">
            <datalist id="Bangalore">
                <option value="Not Mapped Yet">
            </datalist>
            <datalist id="Delhi">
		<option value="505 A B Workshop">
		<option value="A F Rajokari">
                <option value="A.G.C.R.">
		<option value="A.K.Market">
                <option value="Abupur">
                <option value="Adarsh Nagar">
                <option value="Aharwan">
                <option value="Air Force Station Tugalkabad">
                <option value="Akhera">
                <option value="Alaknanda">
                <option value="Alamnagar">
                <option value="Ali">
                <option value="Ali Meo">
                <option value="Alipur-Delhi">
                <option value="Alipur-Noida">
                <option value="Alttc">
                <option value="Amar Colony">
                <option value="Amarnagar">
                <option value="Amarpur">
                <option value="Amberhai">
                <option value="Anand Niketan">
                <option value="Anand Vihar">
                <option value="Anandvas Shakurpur">
                <option value="Andrewsganj">
                <option value="Arjun Nagar">
                <option value="Arjungarh">
                <option value="Aruna Nagar">
                <option value="Aruna Nagar">
                <option value="Arya Nagar">
                <option value="Ashok Nagar">
                <option value="Ashok Nagar-Ghaziabad">
                <option value="Ashok Vihar">
                <option value="Ashoka Park Extension">
                <option value="Aterna">
                <option value="Ator Nagla">
                <option value="Auchandi">
                <option value="Avantika">
                <option value="Azad Nagar">
                <option value="Baba Farid Puri">
                <option value="Babugarh">
                <option value="Badarpur">
                <option value="Badarpur-Firozpur">
                <option value="Badli">
                <option value="Badshahnpur Siroli">
                <option value="Badshahpur">
                <option value="Badusarai">
                <option value="Bagdola">
                <option value="Bahadurgarh">
                <option value="Bahalgarh-Mirakpur">
                <option value="Bahalgarh-Murthal">
                <option value="Bakkarwala">
                <option value="Bankner">
                <option value="Baprola">
                <option value="Baroda House">
                <option value="Basai">
                <option value="Bawal">
                <option value="Baxur">
                <option value="Beadonpura">
                <option value="Begumpur">
                <option value="Bhadas">
                <option value="Bharat Nagar">
                <option value="Bhaskola">
                <option value="Bhirauti">
                <option value="Bhondsi">
                <option value="Bijwasan">
                <option value="Biraj Ghat">
                <option value="Bishanpura">
                <option value="Block 27 B">
                <option value="Brahampuri">
                <option value="Burari">
                <option value="C.C.I.">
                <option value="C.S.K.M. School">
                <option value="Carterpuri">
                <option value="Chakkarpur">
                <option value="Chand Pur">
                <option value="Chander Nagar">
                <option value="Chandni Chowk">
                <option value="Cheelarh">
                <option value="Chhainsa">
                <option value="Chikamberpur">
                <option value="Chuna Mandi">
                <option value="CRPF Jharoda Kalan">
                <option value="D. K. Mohan Garden">
                <option value="D.E.S.U. Colony">
                <option value="Dabri">
                <option value="Dada Ghosh Bhawan">
                <option value="Dadri-Badalpur">
                <option value="Dadri-Uncha Amirpur">
                <option value="Dargah Sharif">
                <option value="Delhi High Court">
                <option value="Delhi Industrial Area">
                <option value="Dhansa">
                <option value="Dhara">
                <option value="Dilshad Garden">
                <option value="Distt. Court Complex, Saket">
                <option value="Dlf Ph-ii">
                <option value="Dlf Ph-iii">
                <option value="Dr.Mukerjee Nagar">
                <option value="Dundahera">
                <option value="East Of Kailash">
                <option value="Escortsnagar Faridabad">
                <option value="F F C Okhla">
                <option value="Factory Area Faridabad">
                <option value="Farukhnagar">
                <option value="G.T. road Faridabad">
                <option value="Gadaipur">
                <option value="Galleria Dlf-iv">
                <option value="Ganeshpura">
                <option value="Geeta Colony">
                <option value="Ghazipur">
                <option value="Gokal Puri">
                <option value="Govindpuram">
                <option value="Greater Kailash">
                <option value="Greater Noida">
                <option value="Greater Noida- G.B.University">
                <option value="Greater Noida-Salempur">
                <option value="Green Park Market">
                <option value="Gurgaon Road">
                <option value="Gurgaon Sec-56">
                <option value="Gwal Pahari">
                <option value="Haiderpur">
                <option value="Hapur">
                <option value="Harsh Vihar">
                <option value="Hasanpur Bhowapur-Vasundhra">
                <option value="Hazrat Nizamuddin">
                <option value="Hindon Air field">
                <option value="Hodal">
                <option value="Holambi Kalan">
                <option value="I.A.R.I.">
                <option value="Ignou">
                <option value="Indrapuram-Sahibabad">
                <option value="Industrial Estate kundli">
                <option value="J.N.U.">
                <option value="Jamia Milia Islamia">
                <option value="Janta Market">
                <option value="Jawahar Colony Faridabad">
                <option value="Jawala Heri">
                <option value="Jwala Puri">
                <option value="Kair B.O">
                <option value="Kakrola">
                <option value="karol bagh market">
                <option value="Kasan">
                <option value="Kashmere Gate">
                <option value="Kaushambi">
                <option value="Khandsa">
                <option value="Khari Baoli">
                <option value="Khekra-Baghpat">
                <option value="Khekra-Baghpat-Ahera">
                <option value="Khurampur">
                <option value="Kidwai Nagar East">
                <option value="Kucha Tiku Shah">
                <option value="Lal Kuan">
                <option value="Lal Kuan Bazar">
                <option value="Lal Kuan Sec-127">
                <option value="Manesar">
                <option value="Mangolpuri A Block">
                <option value="Masood Pur">
                <option value="Masuri">
                <option value="Maya Puri">
                <option value="Mayur Vihar Pocket -1">
                <option value="Modinagar">
                <option value="Modinagar-Muradnagar">
                <option value="Mohan Nagar">
                <option value="Mori gate">
                <option value="Motia Khan">
                <option value="Nabi Karim">
                <option value="Nai Basti">
                <option value="Nai Walan,">
                <option value="Nangal Raya">
                <option value="Nauroji Nagar">
                <option value="New Multan Nagar">
                <option value="Nirman Bhawan">
                <option value="Paharganj">
                <option value="Pahari Dhiraj">
                <option value="Palam Road">
                <option value="Pasonda">
                <option value="Pataudi">
                <option value="Pilkhuwa">
                <option value="R K Puram (Main)">
                <option value="R K Puram Sect-1">
                <option value="Rai">
                <option value="Rajasthan colony">
                <option value="Rajender Nagar">
                <option value="Rashtrapati Bhawan">
                <option value="Regar Pura">
                <option value="Rohini Sector 15">
                <option value="Sadar Bazaar">
                <option value="Salimgarh Fort">
                <option value="Sangam Vihar">
                <option value="Sec-27 Noida">
                <option value="Sec-41 Noida">
                <option value="Shahdara">
                <option value="Sonipat">
                <option value="Sonipat-Dhaturi">
                <option value="South City-ii">
                <option value="Surajkund Faridabad">
                <option value="Surajpur-Noida">
                <option value="Surajpur-Noida-NSEZ">
                <option value="Surajpur-Noida-Tilpata">
                <option value="Teliwara">
                <option value="Tis Hazari">
                <option value="Vasant Vihar-1">
            </datalist>
            <datalist id="Mumbai">
                <option value="Not Mapped Yet">
            </datalist>
            <datalist id="Hyderabad">
                <option value="Saidabad">
		<option value="Old Malakpet">
		<option value="Akbarbagh">
		<option value="Azampura">
		<option value="Chawni">
		<option value="Dabeerpura">
		<option value="Patthergatti">
		<option value="Moghalpura">
		<option value="Talab Chanchalam">
		<option value="Gowlipura">
		<option value="Lalithabagh">
		<option value="Kurmaguda">
		<option value="Rein Bazar">
		<option value="Santhosh Nagar">
		<option value="Riyasat Nagar">
		<option value="Ward 42 Barkas">
		<option value="Uppuguda">
		<option value="Falaknuma">
		<option value="Nawab Saheb Kunta">
		<option value="Shalibanda">
		<option value="Ghansi Bazar">
		<option value="Begum Bazar">
		<option value="Goshamahal">
		<option value="Puranapool">
		<option value="Doodh Bowli">
		<option value="Jahanuma">
		<option value="Kishanbagh">
		<option value="Ziaguda">
		<option value="Mangalhat">
		<option value="Dattatreya Nagar">
		<option value="Golconda">
		<option value="Tolichowki">
		<option value="Mehdipatnam">
		<option value="Asif Nagar">
		<option value="Ahmed Nagar">
		<option value="Mallepally">
		<option value="Jambagh">
		<option value="Himayath Nagar">
		<option value="Kachiguda">
		<option value="Nallakunta">
		<option value="Golnaka">
		<option value="Amberpet">
		<option value="Bagh Amberpet">
		<option value="Adikmet">
		<option value="Musheerabad">
		<option value="Ramnagar">
		<option value="Bholakpur">
		<option value="Gandhinagar">
		<option value="Kavadiguda">
		<option value="Jubilee Hills">
		<option value="Yousufguda">
		<option value="Vengal Rao Nagar">
		<option value="Erragadda">
		<option value="Rahmath Nagar">
		<option value="Borabanda">
		<option value="Mallampet">
		<option value="Bowrampet">
		<option value="Gandi Maisamma">
		<option value="Basuregadi Village">
		<option value="Maisammaguda">
		<option value="Kandlakoi">
		<option value="Gundlapochampalli">
		<option value="Shiva Nagar">
		<option value="Devaryamjai">
		<option value="Thumukunta">
		<option value="Bits Pilani">
		<option value="Dharmavaram">
		<option value="Narsampalle">
		<option value="Cheryaal">
		<option value="Kundanpally">
		<option value="Godumakunta">
		<option value="Bandlaguda">
		<option value="Rampally">
		<option value="Yamnampet">
		<option value="Singapore Township">
		<option value="Annojiguda">
		<option value="Pocharm">
		<option value="Korremula">
		<option value="Boudha Nagar">
		<option value="Meerpet Hb Colony">
		<option value="Nacharam">
		<option value="Habsiguda">
		<option value="Ramanthapur">
		<option value="Uppal">
		<option value="Chilka Nagar">
		<option value="Moosarambagh">
		<option value="Is Sadan">
		<option value="Chaitanyapuri">
		<option value="Kothapet">
		<option value="Rk Puram">
		<option value="Saroornagar">
		<option value="Lingojiguda">
		<option value="Champapet">
		<option value="Bn Reddy Nagar">
		<option value="Vanasthalipuram">
		<option value="Hasthinapuram">
		<option value="Shastripuram">
		<option value="Attapur">
		<option value="Sanath Nagar">
		<option value="Kismatpur">
		<option value="Osmania University">
		<option value="Tarnaka">
		<option value="Moosapet">
		<option value="Allapur">
		<option value="Chintal">
		<option value="Rangareddy Nagar">
		<option value="Marredpally">
		<option value="Rasoolpura">
		<option value="Gunrock Enclave">
		<option value="Kompally">
		<option value="Yapral">
		<option value="Balaji Nagar">
		<option value="Shanti Nagar">
		<option value="Dammaiguda">
		<option value="Nagaram">
		<option value="Boduppal">
		<option value="Chengicherla">
		<option value="Mansoorabad (West)">
		<option value="Rajendranagar Mandal">
		<option value="Gowrelly">
		<option value="Barkas">
		<option value="Wadi-E-Omar">
		<option value="Kurmalguda">
		<option value="Nadergul">
		<option value="Raviryal">
		<option value="Neredmet">
		<option value="Hyderabad">
		<option value="Kanchanbagh">
		<option value="Chandrayangutta">
		<option value="Ramnaspura">
		<option value="Karwan">
		<option value="Nanal Nagar">
		<option value="Gudimalkapur">
		<option value="Vijay Nagar Colony">
		<option value="Red Hills">
		<option value="Gunfoundry">
		<option value="Khairatabad">
		<option value="Venkateshwara Colony">
		<option value="Banjara Hills">
		<option value="Shaikpet">
		<option value="Somajiguda">
		<option value="Ameerpet">
		<option value="Patancheruvu">
		<option value="Ameenpur">
		<option value="Crpf">
		<option value="Kapra">
		<option value="Dr As Rao Nagar East Zone">
		<option value="Malkajgiri">
		<option value="Vinayak Nagar">
		<option value="Moula Ali">
		<option value="Nerdemet">
		<option value="Macha Bolarum">
		<option value="Cherlaplly">
		<option value="Mallapur">
		<option value="Gaddiannaram">
		<option value="Suleman Nagar">
		<option value="Langar Houz">
		<option value="Mailardevpally">
		<option value="Rajendra Nagar">
		<option value="Kondapur">
		<option value="Gachibowli">
		<option value="Serilingamplly">
		<option value="Madhapur">
		<option value="Miyapur">
		<option value="Hafeezpet">
		<option value="Sangareddy">
		<option value="Manikonda">
		<option value="Hydershah Guda">
		<option value="Mettuguda">
		<option value="Bansilapet">
		<option value="Ramgopalpet">
		<option value="Sethaphalmandi">
		<option value="East Anand Bagh">
		<option value="Gautham Nagar">
		<option value="Addagutta">
		<option value="Monda Market">
		<option value="Begumpet">
		<option value="Fateh Nagar">
		<option value="Ward 115 Balaji Nagar">
		<option value="Kphb Colony">
		<option value="Hydernagar">
		<option value="Vivekananda">
		<option value="Kukatpally">
		<option value="Balanagar">
		<option value="Suraram">
		<option value="Gajularamaram">
		<option value="Alwyn Colony">
		<option value="Jagathgirigutta">
		<option value="Quthbullapur">
		<option value="Subash Nagar">
		<option value="Jeedimetla">
		<option value="Alwal">
		<option value="Venkatapuram">
		<option value="Old Bowenpally">
		<option value="Mahendra Hills">
		<option value="Bowenpally">
		<option value="Sarvatra Defence Colony">
		<option value="Trimulgherry">
		<option value="Hakimpet">
		<option value="Nagole">
		<option value="Peerazadiguda">
		<option value="Mansoorabad (East)">
		<option value="Hayath Nagar">
		<option value="Shamshabad">
		<option value="Kuntloor">
		<option value="Toroor">
		<option value="Koheda">
		<option value="Gurramguda">
		<option value="Almasguda">
		<option value="Jilleaguda">
		<option value="Balapur">
		<option value="Mustafa Hills">
		<option value="Wadi-E-Hadi">
		<option value="Pahadi Sharif">
		<option value="Adibhatala">
		<option value="Chandanagar">
            </datalist>
            <datalist id="Chennai">
                <option value="Not Mapped Yet">
            </datalist>
            <datalist id="Pune">
                <option value="Not Mapped Yet">
            </datalist>
            <div class="invalid-feedback">
                Please enter a valid area.
            </div>
        </div>

        <div class="mb-3 row">
            <label for="remarks">Remarks <span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" name="remarks" id="remarks" placeholder="You can give your suggestions here">
        </div>

        <hr class="mb-4 row">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
    </form>
</div>
</body>

</html>