<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <style>
        .hidden {
            display: none !important;
        }
        .duplicateError{
            color: red;
            font-style: normal;
            font-weight: bold;
        }
        .successMsg{
            color: green;
            font-style: normal;
            font-weight: bold;
        }
        label.r::after{
            content: " *";
            color: red;
            vertical-align: sub;
        }
        div.col-md-20 {
            max-width: 20%;
            padding-left: 0;
        }
        div.col-md-80 {
            max-width: 80%;
            min-width: 80%;
            padding-right: 0px;
        }
        div.row{
            margin-bottom: 15px;
        }

        div.container {
            max-width: 80%;
        }
        @media (min-width: 1200px){
            div.container {
                max-width: 720px;
            }
        }

        @media (min-width: 992px){
            div.container {
                max-width: 720px;
            }
        }
    </style>
    <title>Lalamove User Response Form!</title>
</head>

<body>
<div class="hidden duplicateError text-center py-4"> Phone number already exists!!!</div>
<div class="hidden successMsg text-center py-4"> Record Saved Successfully.</div>
<div class="container">
    <h4 class="py-3 text-center">Lalamove User Response Form</h4>
    <form class="needs-validation" novalidate="">
        <div class="row">
            <div class="col-md-6 mb-3 col-md-20">
                <label class="r" for="city">City</label>
            </div>
            <div class="col-md-6 mb-3 col-md-80">
                <select class="custom-select form-control d-block w-100" id="city" name="city" required="">
                    <option value="">Choose... </option>
                    <option>Bangalore</option>
                    <option>Delhi</option>
                    <option>Mumbai</option>
                    <option>Hyderabad</option>
                    <option>Chennai</option>
                    <option>Pune</option>
                </select>
                <div class="invalid-feedback">
                    Valid city is required.
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="r" for="phone2">Your Pin</label>
            <input type="number" class="form-control" autocomplete="off" id="phone2" name="phone2" min="00001" max="99999" required="">
            <div class="invalid-feedback">
                Please enter valid pin.
            </div>
        </div>

        <div class="mb-3 row">
            <label class="r" for="phone1">Phone number of the User (10 digit no. Eg: 9876540321)</label>
            <input type="number" class="form-control" autocomplete="off" id="phone1" name="phone1" min=6000000000 max=9999999999 required="">
            <div class="invalid-feedback">
                Please enter a valid phone number.
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3 col-md-20">
                <label class="r" for="userType">User Type</label>
            </div>
            <div class="col-md-6 mb-3 col-md-80">
                <select class="custom-select form-control d-block w-100" name="userType" id="userType" required="">
                    <option value="">Choose... </option>
                    <option>Electrical/Electronics/Home Appliances</option>
                    <option>Machines/Equipment/Spare Parts/Metals</option>
                    <option>Furniture/Home Furnishing</option>
                    <option>Paper/Packaging/Printed Material</option>
                    <option>Ceramics/Sanitary/Hardware</option>
                    <option>Plastic/Rubber</option>
                    <option>FMCG/Food Products</option>
                    <option>Pharmacy/Medical/Healthcare/Fitness Equipment</option>
                    <option>Chemicals/Paints</option>
                    <option>Textile/Garments/Fashion Accessories</option>
                    <option>Building/Construction</option>
                    <option>Books/Stationery/Toys/Gifts</option>
                    <option>Houseware Supplies</option>
                    <option>Catering/Restaurants/Event Management</option>
                    <option>Timber/Plywood/Laminate</option>
                    <option>Logistics Service Provider/Packers & Movers</option>
                    <option>House Shifting</option>
                </select>
                <div class="invalid-feedback">
                    Valid User Type is required.
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="r" for="area">Area</label>
            <input class="form-control" id="area" name="area" autocomplete="off" required="">
            <datalist id="Bangalore">
                <option value="Not Mapped Yet">
            </datalist>
            <datalist id="Delhi">
				<option value="Abupur">
				<option value="Alamnagar">
				<option value="Alipur-Delhi">
				<option value="Alipur-Noida">
				<option value="Amarnagar">
				<option value="Amarpur">
				<option value="Anand Niketan">
				<option value="Andrewsganj">
				<option value="Arjun Nagar">
				<option value="Arya Nagar">
				<option value="Asalatpur Farakh Nagar">
				<option value="Ashok Nagar-Ghaziabad">
				<option value="Ashok Vihar">
				<option value="Asola Wild Life Sanctuary">
				<option value="Aya Nagar">
				<option value="Azadpur">
				<option value="Baba Farid Puri Karol Bagh">
				<option value="Babugarh">
				<option value="Badshahnpur Siroli">
				<option value="Badshahpur">
				<option value="Bahadurgarh">
				<option value="Bahalgarh-Mirakpur">
				<option value="Bahalgarh-Murthal">
				<option value="Bakkarwala">
				<option value="Banchari">
				<option value="Bawal">
				<option value="Bawana">
				<option value="Baxur">
				<option value="Beadonpura Karol Bagh">
				<option value="Bhadas">
				<option value="Bhandoola Ghaziabad">
				<option value="Bharat Nagar">
				<option value="Bharti Nagar">
				<option value="Bhaskola">
				<option value="Bijwasan">
				<option value="Biraj Ghat">
				<option value="Bishanpura">
				<option value="Block 27 B Karol Bagh">
				<option value="Brahampuri">
				<option value="Burari">
				<option value="Chander Nagar">
				<option value="Chandni Chowk">
				<option value="Chhattarpur">
				<option value="Chhawla">
				<option value="Chikamberpur">
				<option value="Chuna Mandi">
				<option value="Civil Lines">
				<option value="Dadri-Badalpur">
				<option value="Dadri-Uncha Amirpur">
				<option value="Dakshinpuri">
				<option value="Daryaganj">
				<option value="Dhaula Kuan">
				<option value="Dhaulana">
				<option value="Dilshad Garden">
				<option value="Dr.Mukerjee Nagar">
				<option value="Dundahera">
				<option value="Dwarka">
				<option value="Dwarka Sector-3">
				<option value="Escortsnagar Faridabad">
				<option value="Faridabad NIT">
				<option value="Faridabad Sector 7">
				<option value="Firozpur Jhirka">
				<option value="Ganeshpura Tri Nagar">
				<option value="Ghitorni">
				<option value="Govind Puri">
				<option value="Govindpuram">
				<option value="Greater Kailash">
				<option value="Greater Noida">
				<option value="Greater Noida- G.B.University">
				<option value="Green Park Market">
				<option value="Hapur">
				<option value="Harmukhpuri">
				<option value="Harsh Vihar">
				<option value="Hasanpur Bhowapur-Vasundhra">
				<option value="Hodal">
				<option value="Holambi Kalan">
				<option value="Ignou">
				<option value="Indrapuram-Sahibabad">
				<option value="Industrial Estate Kundli">
				<option value="Jamia Millia Islamia">
				<option value="Janakpuri">
				<option value="Jangpura">
				<option value="Jawahar Colony Faridabad">
				<option value="Jawala Heri">
				<option value="Jharoda Kalan">
				<option value="Jhuljhuli">
				<option value="Jwalapuri">
				<option value="Kamla Nagar">
				<option value="Karala">
				<option value="Karawal Nagar">
				<option value="Karol Bagh Market">
				<option value="Kasan">
				<option value="Kashmere Gate">
				<option value="Kaushambi">
				<option value="Khaintawas">
				<option value="Khandsa">
				<option value="Khari Baoli">
				<option value="Khekra-Baghpat">
				<option value="Khekra-Baghpat-Ahera">
				<option value="Kherla">
				<option value="Khurampur">
				<option value="Kirti Nagar">
				<option value="Kondal">
				<option value="Kondli">
				<option value="Krishna Nagar">
				<option value="Kucha Tiku Shah">
				<option value="Kundli">
				<option value="Lajpat Nagar">
				<option value="Lal Kuan Bazar">
				<option value="Mahipalpur">
				<option value="Malab">
				<option value="Manesar">
				<option value="Mangolpuri S Block">
				<option value="Manouli Hariyana">
				<option value="Masuri">
				<option value="Mayapuri">
				<option value="Mayur Vihar">
				<option value="Meerpur">
				<option value="Mohan Nagar">
				<option value="Mori Gate">
				<option value="Motia Khan">
				<option value="Munirka">
				<option value="Nabi Karim">
				<option value="Nai Basti Karol Bagh">
				<option value="Nai Walan Karol Bagh">
				<option value="Najafgarh">
				<option value="Naraina">
				<option value="Narela">
				<option value="Nathupur">
				<option value="New Friends Colony">
				<option value="Okhla Industrial Area">
				<option value="Pahar Ganj">
				<option value="Pahari Dhiraj">
				<option value="Palam">
				<option value="Palam Road">
				<option value="Palam Vihar Gurugram">
				<option value="Palwal">
				<option value="Pasonda">
				<option value="Pataudi">
				<option value="Patel Nagar">
				<option value="Patparganj">
				<option value="Phase 5 Gurugram">
				<option value="Pilkhuwa">
				<option value="Pitam Pura">
				<option value="Punjabi Bagh">
				<option value="Pusa">
				<option value="R K Puram Sector  2">
				<option value="Raj Nagar">
				<option value="Raj Nagar Extention Ghaziabad">
				<option value="Raj Nagar -Ghaziabad">
				<option value="Rajasthan Colony Karol Bagh">
				<option value="Rajinder Nagar">
				<option value="Rajokari">
				<option value="Rajouri Garden">
				<option value="Rangpuri">
				<option value="Regar Pura Karol Bagh">
				<option value="Rithala">
				<option value="Rk Puram">
				<option value="Rohini Sector 15">
				<option value="Sadar Bazaar">
				<option value="Safdarjung Enclave">
				<option value="Sagarpur">
				<option value="Saket">
				<option value="Salempur Gujar">
				<option value="Salimgarh Fort">
				<option value="Samaypur Badli">
				<option value="Sangam Vihar">
				<option value="Sarai Kale khan">
				<option value="Sarita Vihar">
				<option value="Sarojini Nagar">
				<option value="Sector 122 Noida">
				<option value="Sector 127 Noida">
				<option value="Sector 27 Gurugram">
				<option value="Sector 27 Noida">
				<option value="Sector 41 Noida">
				<option value="Sector 45 Gurugram">
				<option value="Sector 49 Gurugram">
				<option value="Sector 56 Gurugram">
				<option value="Seelampur">
				<option value="Shahdara">
				<option value="Shakur Basti">
				<option value="Shalimar Bagh">
				<option value="Shankar Vihar">
				<option value="Sikanderpur">
				<option value="Sohna">
				<option value="Sonipat">
				<option value="Sonipat-Dhaturi">
				<option value="Sultanpuri">
				<option value="Surajkund Faridabad">
				<option value="Surajpur-Noida">
				<option value="Surajpur-Noida-Tilpata">
				<option value="Teliwara">
				<option value="Tilak Nagar">
				<option value="Tis Hazari">
				<option value="Tughlakabad">
				<option value="Uttam Nagar">
				<option value="Vasant Kunj">
				<option value="Vasant Vihar">
				<option value="Yakubpur">
            </datalist>
            <datalist id="Mumbai">
                <option value="Aareymilk Colony">
				<option value="Abhyudaya Nagar">
				<option value="Additional Ambernath">
				<option value="Agarwadi">
				<option value="Agashi">
				<option value="Aghai">
				<option value="Agripada">
				<option value="Agwan">
				<option value="Air India Staff Colony">
				<option value="Airoli">
				<option value="Airport">
				<option value="Alyani">
				<option value="Ambernath">
				<option value="Andheri">
				<option value="Andheri East">
				<option value="Andheri West">
				<option value="Antop Hill">
				<option value="Anushakti Nagar">
				<option value="Apna Bazar">
				<option value="Arnala">
				<option value="Asangaon">
				<option value="Atali">
				<option value="Badhapokharan">
				<option value="Balkum">
				<option value="Ballard Estate">
				<option value="Bandra West">
				<option value="BARC">
				<option value="Barve Nagar">
				<option value="Bassein">
				<option value="Bhandup Complex">
				<option value="Bhandup East">
				<option value="Bhandup Industrial Estate">
				<option value="Bhatsanagar">
				<option value="Bhayander East">
				<option value="Bhayander West">
				<option value="Bhiwandi">
				<option value="Bhuleshwar">
				<option value="BKC">
				<option value="Boisar">
				<option value="Borivali">
				<option value="Borivali East">
				<option value="Borvali West">
				<option value="Byculla">
				<option value="CBD Belapur">
				<option value="Central Building">
				<option value="Chakala MIDC">
				<option value="Chamble">
				<option value="Charkop">
				<option value="Chembur">
				<option value="Chembur RS">
				<option value="Chinchbunder">
				<option value="Chitalsar Manpada">
				<option value="Chunabhatti">
				<option value="Colaba">
				<option value="Cumballa Hill">
				<option value="Dadar">
				<option value="Dadar West">
				<option value="Dahisar">
				<option value="Dandekarwadi">
				<option value="Datiware">
				<option value="Dedale">
				<option value="Dharavi">
				<option value="Dhasai">
				<option value="DM Colony">
				<option value="Dockyard Road">
				<option value="Dombivali">
				<option value="Dombivili Industrial Estate">
				<option value="Fort">
				<option value="Ganeshpuri">
				<option value="Gegaon">
				<option value="Ghansoli">
				<option value="Ghatkopar East">
				<option value="Ghatkopar West">
				<option value="Girgaon">
				<option value="Goregaon">
				<option value="Goregaon East">
				<option value="Goregaon West">
				<option value="Govandi">
				<option value="Grant Road">
				<option value="Hajiali">
				<option value="High Court building">
				<option value="J.B. Nagar">
				<option value="Jekegram">
				<option value="Jogeshwari East">
				<option value="Jogeshwari West">
				<option value="Juhu">
				<option value="Kalbadevi">
				<option value="Kalwa">
				<option value="Kamothe">
				<option value="Kandivali East">
				<option value="Kannamwar Nagar">
				<option value="Kariat">
				<option value="Kasarvadavali">
				<option value="Kasegaon">
				<option value="Khar West">
				<option value="Kharghar">
				<option value="Kidwai Nagar">
				<option value="Kon">
				<option value="Kondap">
				<option value="Kopar Khairne">
				<option value="Kopri Colony">
				<option value="Kosbad">
				<option value="Kulgaon">
				<option value="Kulhe">
				<option value="Kurla">
				<option value="Lower Parel">
				<option value="Mahim">
				<option value="Malabar Hill">
				<option value="Malad East">
				<option value="Malad West">
				<option value="Malvani">
				<option value="Manda">
				<option value="Mandapeshwar">
				<option value="Manor">
				<option value="Manpada">
				<option value="Matunga">
				<option value="Millenium Business park">
				<option value="Mira">
				<option value="Mira Road">
				<option value="Motilal Nagar">
				<option value="Mulund East">
				<option value="Mulund West">
				<option value="Mumbai University">
				<option value="Mumbra">
				<option value="Nalasopara East">
				<option value="Nalasopara West">
				<option value="Nariman Point">
				<option value="Naupada">
				<option value="Nehru Nagar">
				<option value="Netaji Bazar">
				<option value="Nirmal">
				<option value="NITIE">
				<option value="O.E. Ambernath">
				<option value="Padgha">
				<option value="Palghar">
				<option value="Papdi">
				<option value="Parel">
				<option value="Powai">
				<option value="Prabhadevi">
				<option value="Rajawadi">
				<option value="Rajbhavan">
				<option value="Rasayani">
				<option value="Sakinaka">
				<option value="Sanpada">
				<option value="Santacruz East">
				<option value="Santacruz West">
				<option value="Seawoods">
				<option value="SEEPZ">
				<option value="Sewri">
				<option value="Shahad">
				<option value="Taloja">
				<option value="Tarapur">
				<option value="Trombay">
				<option value="Ulhasnagar - 4">
				<option value="Ulhasnagar - 5">
				<option value="Ulhasnagar -2">
				<option value="Uttan">
				<option value="Vajreshwari">
				<option value="Varor">
				<option value="Vasai East">
				<option value="Vasai West">
				<option value="Vashi">
				<option value="Vasind">
				<option value="Versova">
				<option value="Vidyashram">
				<option value="Vikhroli">
				<option value="Vile Parle East">
				<option value="Vile Parle West">
				<option value="Virar">
				<option value="Virar East">
				<option value="Vishnunagar">
				<option value="Wagle Industrial Estate">
				<option value="Worli">
				<option value="Worli Seaface">
		
            </datalist>
            <datalist id="Hyderabad">
                <option value="Addagutta">
				<option value="Adibhatala">
				<option value="Adikmet">
				<option value="Ahmed Nagar">
				<option value="Akbarbagh">
				<option value="Allapur">
				<option value="Almasguda">
				<option value="Alwal">
				<option value="Alwyn Colony">
				<option value="Amberpet">
				<option value="Ameenpur">
				<option value="Ameerpet">
				<option value="Annojiguda">
				<option value="Asif Nagar">
				<option value="Attapur">
				<option value="Azampura">
				<option value="Bagh Amberpet">
				<option value="Balaji Nagar">
				<option value="Balanagar">
				<option value="Balapur">
				<option value="Bandlaguda">
				<option value="Banjara Hills">
				<option value="Bansilapet">
				<option value="Barkas">
				<option value="Basuregadi Village">
				<option value="Begum Bazar">
				<option value="Begumpet">
				<option value="Bholakpur">
				<option value="Bits Pilani">
				<option value="Bn Reddy Nagar">
				<option value="Boduppal">
				<option value="Borabanda">
				<option value="Boudha Nagar">
				<option value="Bowenpally">
				<option value="Bowrampet">
				<option value="Chaitanyapuri">
				<option value="Champapet">
				<option value="Chandanagar">
				<option value="Chandrayangutta">
				<option value="Chawni">
				<option value="Chengicherla">
				<option value="Cherlaplly">
				<option value="Cheryaal">
				<option value="Chilka Nagar">
				<option value="Chintal">
				<option value="Crpf">
				<option value="Dabeerpura">
				<option value="Dammaiguda">
				<option value="Dattatreya Nagar">
				<option value="Devaryamjai">
				<option value="Dharmavaram">
				<option value="Doodh Bowli">
				<option value="Dr As Rao Nagar East Zone">
				<option value="East Anand Bagh">
				<option value="Erragadda">
				<option value="Falaknuma">
				<option value="Fateh Nagar">
				<option value="Gachibowli">
				<option value="Gaddiannaram">
				<option value="Gajularamaram">
				<option value="Gandhinagar">
				<option value="Gandi Maisamma">
				<option value="Gautham Nagar">
				<option value="Ghansi Bazar">
				<option value="Godumakunta">
				<option value="Golconda">
				<option value="Golnaka">
				<option value="Goshamahal">
				<option value="Gowlipura">
				<option value="Gowrelly">
				<option value="Gudimalkapur">
				<option value="Gundlapochampalli">
				<option value="Gunfoundry">
				<option value="Gunrock Enclave">
				<option value="Gurramguda">
				<option value="Habsiguda">
				<option value="Hafeezpet">
				<option value="Hakimpet">
				<option value="Hasthinapuram">
				<option value="Hayath Nagar">
				<option value="Himayath Nagar">
				<option value="Hyderabad">
				<option value="Hydernagar">
				<option value="Hydershah Guda">
				<option value="Is Sadan">
				<option value="Jagathgirigutta">
				<option value="Jahanuma">
				<option value="Jambagh">
				<option value="Jeedimetla">
				<option value="Jilleaguda">
				<option value="Jubilee Hills">
				<option value="Kachiguda">
				<option value="Kanchanbagh">
				<option value="Kandlakoi">
				<option value="Kapra">
				<option value="Karwan">
				<option value="Kavadiguda">
				<option value="Khairatabad">
				<option value="Kishanbagh">
				<option value="Kismatpur">
				<option value="Koheda">
				<option value="Kompally">
				<option value="Kondapur">
				<option value="Korremula">
				<option value="Kothapet">
				<option value="Kphb Colony">
				<option value="Kukatpally">
				<option value="Kundanpally">
				<option value="Kuntloor">
				<option value="Kurmaguda">
				<option value="Kurmalguda">
				<option value="Lalithabagh">
				<option value="Langar Houz">
				<option value="Lingojiguda">
				<option value="Macha Bolarum">
				<option value="Madhapur">
				<option value="Mahendra Hills">
				<option value="Mailardevpally">
				<option value="Maisammaguda">
				<option value="Malkajgiri">
				<option value="Mallampet">
				<option value="Mallapur">
				<option value="Mallepally">
				<option value="Mangalhat">
				<option value="Manikonda">
				<option value="Mansoorabad (East)">
				<option value="Mansoorabad (West)">
				<option value="Marredpally">
				<option value="Meerpet Hb Colony">
				<option value="Mehdipatnam">
				<option value="Mettuguda">
				<option value="Miyapur">
				<option value="Moghalpura">
				<option value="Monda Market">
				<option value="Moosapet">
				<option value="Moosarambagh">
				<option value="Moula Ali">
				<option value="Musheerabad">
				<option value="Mustafa Hills">
				<option value="Nacharam">
				<option value="Nadergul">
				<option value="Nagaram">
				<option value="Nagole">
				<option value="Nallakunta">
				<option value="Nanal Nagar">
				<option value="Narsampalle">
				<option value="Nawab Saheb Kunta">
				<option value="Nerdemet">
				<option value="Neredmet">
				<option value="Old Bowenpally">
				<option value="Old Malakpet">
				<option value="Osmania University">
				<option value="Pahadi Sharif">
				<option value="Patancheruvu">
				<option value="Patthergatti">
				<option value="Peerazadiguda">
				<option value="Pocharm">
				<option value="Puranapool">
				<option value="Quthbullapur">
				<option value="Rahmath Nagar">
				<option value="Rajendra Nagar">
				<option value="Rajendranagar Mandal">
				<option value="Ramanthapur">
				<option value="Ramgopalpet">
				<option value="Ramnagar">
				<option value="Ramnaspura">
				<option value="Rampally">
				<option value="Rangareddy Nagar">
				<option value="Rasoolpura">
				<option value="Raviryal">
				<option value="Red Hills">
				<option value="Rein Bazar">
				<option value="Riyasat Nagar">
				<option value="Rk Puram">
				<option value="Saidabad">
				<option value="Sanath Nagar">
				<option value="Sangareddy">
				<option value="Santhosh Nagar">
				<option value="Saroornagar">
				<option value="Sarvatra Defence Colony">
				<option value="Serilingamplly">
				<option value="Sethaphalmandi">
				<option value="Shaikpet">
				<option value="Shalibanda">
				<option value="Shamshabad">
				<option value="Shanti Nagar">
				<option value="Shastripuram">
				<option value="Shiva Nagar">
				<option value="Singapore Township">
				<option value="Somajiguda">
				<option value="Subash Nagar">
				<option value="Suleman Nagar">
				<option value="Suraram">
				<option value="Talab Chanchalam">
				<option value="Tarnaka">
				<option value="Thumukunta">
				<option value="Tolichowki">
				<option value="Toroor">
				<option value="Trimulgherry">
				<option value="Uppal">
				<option value="Uppuguda">
				<option value="Vanasthalipuram">
				<option value="Vengal Rao Nagar">
				<option value="Venkatapuram">
				<option value="Venkateshwara Colony">
				<option value="Vijay Nagar Colony">
				<option value="Vinayak Nagar">
				<option value="Vivekananda">
				<option value="Wadi-E-Hadi">
				<option value="Wadi-E-Omar">
				<option value="Ward 115 Balaji Nagar">
				<option value="Ward 42 Barkas">
				<option value="Yamnampet">
				<option value="Yapral">
				<option value="Yousufguda">
				<option value="Ziaguda">
            </datalist>
            <datalist id="Chennai">
                <option value="Not Mapped Yet">
            </datalist>
            <datalist id="Pune">
                <option value="Not Mapped Yet">
            </datalist>
            <div class="invalid-feedback">
                Please enter a valid area.
            </div>
        </div>

        <div class="mb-3 row">
            <label for="remarks">Remarks <span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" name="remarks" id="remarks" placeholder="You can give your suggestions here">
        </div>
		
		<div class="mb-3 row">
            <label for="Storeperownername">Store/owner name <span class="text-muted"></span></label>
            <input type="text" class="form-control" name="Storeperownername" id="Storeperownername" placeholder="Enter store/owner name here">
        </div>
		
		<div class="row">
            <div class="col-md-6 mb-3 col-md-20">
                <label for="Frequencyoforderperweek">Frequency of order/week</label>
            </div>
            <div class="col-md-6 mb-3 col-md-80">
                <select class="custom-select form-control d-block w-100" id="Frequencyoforderweek" name="Frequencyoforderweek">
                    <option value="">Choose... </option>
                    <option>1-2</option>
                    <option>3-5</option>
                    <option>6-7</option>
                    <option>>7</option>
                </select>
            </div>
        </div>
		
		<div class="row">
            <div class="col-md-6 mb-3 col-md-20">
                <label for="Competitorname">Competitor name</label>
            </div>
            <div class="col-md-6 mb-3 col-md-80">
                <select class="custom-select form-control d-block w-100" id="Competitorname" name="Competitorname">
                    <option value="">Choose... </option>
                    <option>Porter</option>
                    <option>Lynk</option>
                    <option>Blowhorn</option>
                    <option>Other online competitor</option>
					<option>Offline</option>
                </select>
            </div>
        </div>

        <hr class="mb-4 row">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
    </form>
</div>
</body>

</html>